@page
@model ApexCareSolutions.Pages.loginModel
@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

<div id="loginBody">
    <h2 id="lgLabel">Login</h2>
    <form method="post">
        <div class="fields">
            <label asp-for="User.Username">Username:</label>
            <input asp-for="User.Username" />
        </div>

        <div class="fields">
            <label asp-for="User.Password">Password:</label>
            <input asp-for="User.Password" type="password" />
        </div>

        <div class="fields">
            @if (!string.IsNullOrEmpty(ModelState[""].Errors.FirstOrDefault()?.ErrorMessage))
            {
                <span class="error-message">@ModelState[""].Errors.FirstOrDefault()?.ErrorMessage</span> <!-- Error message with styling -->
            }
        </div>

        <div class="fields">
            <label asp-for="User.Role">Role:</label>
            <select asp-for="User.Role">
                <option value=""></option>
                <option value="Client">Client</option>
                <option value="Agent">Service Agent</option>
                <option value="Technician">Technician</option>
            </select>
        </div>

        <button id="loginBtn" type="submit">Login</button>
    </form>

    <div>
        Not a user? <a asp-page="/createUser"><u>Create an account</u></a>
    </div>
</div>
