@page
@model ApexCareSolutions.Pages.Technician.proileTechnicianModel
@{
}
<div>

        <div>
            <div>
                <h3>Total No. of contracts:</h3>
                <input class="stat-value" readonly asp-for="contractCount"/>
                <p class="lead">@Model.averageRating</p>
            </div>
            <div>
                <h3>No. of Techs:</h3>
                <input readonly asp-for="technicianCount" />
            </div>
            <div>
                <h3>No. service agents:</h3>
                <input readonly asp-for="serviceAgentCount" />
            </div>
            <div>
                <h3>Average customer satisfaction:</h3>
                <input readonly asp-for="averageRating" />
            </div>
        </div>

        <div>
            <h3>Longest lasting contract:</h3>
            <input readonly asp-for="averageRate" />    
        </div>
</div>