@page
@model ApexCareSolutions.Pages.Technician.proileTechnicianModel
@{
}
<div>
    <section class="dashboard-content">
        <div class="stats">
            <div class="stat-item">
                <h3>Total No. of contracts:</h3>
                <p class="stat-value">132</p>
            </div>
            <div class="stat-item">
                <h3>No. of Techs:</h3>
                <p class="stat-value">12</p>
            </div>
            <div class="stat-item">
                <h3>No. service agents:</h3>
                <p class="stat-value">8</p>
            </div>
            <div class="stat-item">
                <h3>Average customer satisfaction:</h3>
                <p class="stat-value">4/5</p>
            </div>
        </div>

        <div class="longest-contract">
            <h3>Longest lasting contract:</h3>
            <p class="contract-duration">3 Years!</p>
        </div>
    </section>
</div>