################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ApexCareSolutions/.vs/ApexCareSolutions/FileContentIndex/39eef95d-dba5-4445-8861-e5f48ac6e583.vsidx
/ApexCareSolutions/.vs/ApexCareSolutions/FileContentIndex/99cb8f4d-53a0-450a-8079-cd2ed1838e09.vsidx
*.vsidx
