/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    background-color: #C7C7BF;
}

.headerBar {
    background-color: #14498B;
    color: white;
}

#logo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.headTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 15px;
}

.navBox {
    width: 250px;
    padding: 20px;
    background-color: #E7E7E6;
    font-size: 12px;
    color: #02050A;
    float: left;
    margin-left: 15px;
}

.navHead {
    color: #02050A;
    margin-bottom: 0;
}

.navLine {
    border: 1px solid #F6BF41;
}

.nav_items a {
    color: #02050A;
    font-size: 11px;
}

.logout_btn {
    color: #14498B;
    font-size: 20px;
    margin-top: 20px;
    display: block;
}

.mainContent {
    background-color: #E7E7E6;
    color: #02050A;
    padding: 25px;
    margin: 15px;
}

#editProfile {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
}
