<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!-- Top Bar -->
    <header class="headerBar">
        <img src="~/images/logoMini.png" alt="Logo" id="logo">
        <span class="headTitle">Hello, @ViewData["Username"]</span>
    </header>

    <!-- Main Layout Container -->
    <div class="navBox">
        <!--  Sidebar -->
            <nav>
                <h3 class="navHead">Profile</h3>
                <hr class="navLine">
                <ul>
                    <li class="nav_items"><a asp-area="" asp-page="/Client/profileClient">Profile details</a></li>
                    <li class="nav_items"><a asp-area="" asp-page="/Agent/profileAgent">Agent Profile details</a></li>
                    <li class="nav_items"><a asp-area="" asp-page="/Technician/profileTechnician">Tech Profile details</a></li>
                </ul>

                <h3 class="navHead">Contracts</h3>
                <hr class="navLine">
                <ul>
                    <li class="nav_items"><a asp-area="" asp-page="/Client/contractDetails">Contract Details</a></li>
                    <li class="nav_items"><a asp-area="" asp-page="/Client/contractHistory">Contract History</a></li>
                    <li class="nav_items"><a asp-area="" asp-page="/Client/manageContract">Manage Contract</a></li>
                </ul>

                <h3 class="navHead">Issues</h3>
                <hr class="navLine">
                <ul>
                    <li class="nav_items"><a asp-area="" asp-page="/Client/feedback">Feedback Survey</a></li>
                    <li class="nav_items"><a asp-area="" asp-page="/Client/complaint">Send a Complaint</a></li>
                </ul>

            <a asp-page="/login" class="logout_btn">Logout</a>
            </nav>
    </div>
        <!-- Main Content Area -->
            <main>
                @RenderBody()
            </main>

    @RenderSection("Scripts", required: false)
</body>
</html>
