@page
@model ApexCareSolutions.Pages.Client.contractHistoryModel

<div>
    <main>
        <h2>Viewing Contract</h2>

        <select id="contractDropdown" class="form-control">
            <option value="all">All Contracts</option>
            @foreach (var contract in Model.contracts)
            {
                <option value="@contract.ContractID">@contract.ContractID</option>
            }
        </select><br /><br />

        <section class="contract-card">

        <div class="form-group">
            <label>Contract ID:</label>
                <input type="text" asp-for="contract.ContractID" readonly /><br /><br />
        </div>

        <div class="form-group">
            <label for="ClientId">Client ID:</label>
                <input type="text" asp-for="contract.ClientID" readonly /><br /><br />
        </div>

        <div class="form-group">
            <label>Start Date:</label>
                <input type="date" asp-for="contract.StartDate" readonly /><br /><br />
        </div>

        <div class="form-group">
            <label>End Date:</label>
                <input type="date" asp-for="contract.EndDate" readonly /><br /><br />
        </div>

        <div class="form-group">
                <label>Status:</label>
                <input type="date" asp-for="contract.Status" readonly /><br /><br />
        </div>

        <div class="form-group">
                <label>Type:</label>
                <input type="text" asp-for="Type" /><br /><br />
        </div>

        <div class="form-group">
            <label>Residency:</label>
                <input type="text" asp-for="Residency" readonly/>
        </div>
        </section>
    </main>
</div>
