@page
@model ApexCareSolutions.Pages.Client.feedbackModel
@{
}

<div>
    <form action="/" method="post">
        <div>
            <label asp-for = "feedback.IssueID">Issue ID:</label>
            <input type="text" asp-for="feedback.IssueID" />
        </div>

        <div>
            <label asp-for = "feedback.Rating">Issue ID:</label>
            <input type="date" asp-for="feedback.Rating" />
        </div>

        <div>
            <label asp-for="feedback.DateProvided">Issue ID:</label>
            <input type="text" asp-for="feedback.DateProvide" />
        </div>

         <div>
            <label asp-for="feedback.Comments">Issue ID:</label>
            <input type="text" asp-for="feedback.Comments" />
        </div>

        <button type="submit">Submit</button>
        </form>
</div>