@page
@model ApexCareSolutions.Pages.Client.profileClientModel
@{
}

<div class="mainContent">  
        <form method="post">
            <label>Username:</label>
            <input type="text" asp-for="client.Username" /><br /><br />

            <label>FirstName:</label>
            <input type="text" asp-for="client.FirstName" /><br /><br />

            <label>LastName:</label>
            <input type="text" asp-for="client.LastName" /><br /><br />

            <label>Phone:</label>
            <input type="text" asp-for="client.Phone" /><br /><br />

            <label>Email:</label>
            <input type="text" asp-for="client.Email" /><br /><br />

            <label>Address:</label>
            <input type="text" asp-for="client.Address" /><br /><br />

            <button type="submit">Edit Profile</button>
        </form>
</div>